div {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 200px;
    transform: translate(-50%, -50%)
}

p {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.Button1 {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;
    padding: 10px 50px;
    border-radius: 15px;
}


.Button2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;
    padding: 10px 50px;
    border-radius: 15px;
}
